python-server/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
python-server/**/*.pyc

# IDE
.idea/
.vscode/
python-server/CLAUDE.md
python-server/data/materials
spring-server/paper/uploads
/python-server/TROUBLESHOOTING.md
.DS_Stroe
*/*/.DS_Store
404-NOT-FOUND-Frontend/.vite/*